body, html {
    background-color: rgb(0, 0, 0);
}

/* Dispositivos pequenos (até 576px) */
@media (max-width: 576px) {
    body, html {
        background-color: rgb(255, 0, 179);
    }
}

/* Celulares grandes (576px - 768px) */
@media (min-width: 576px) and (max-width: 768px) {
    body, html {
        background-color: rgb(0, 255, 42);
    }
}

/* Tablets e pequenos laptops (768px - 992px) */
@media (min-width: 768px) and (max-width: 992px) {
    body, html {
        background-color: rgb(145, 255, 0);
    }
}

/* Desktops padrão (992px - 1200px) */
@media (min-width: 992px) and (max-width: 1200px) {  

}

/* Telas grandes (acima de 1200px) */
@media (min-width: 1200px) {  
}
