html {
    scroll-behavior:smooth;
    overflow: hidden;
}

body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    overflow-y: auto;
}

/*TOPO*/

header {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.70);
    position: fixed;
    top: 0px;
    z-index: 100;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*LOGOTIPO*/

#logotipo {
    width: 250px;
}

#logotipo:hover {
    cursor: pointer;
}

/*MENU*/

.menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 80px;
    margin-bottom: 10px;
}

.menu li {
    display: inline;
    color: rgb(224, 224, 224);
    padding: 25px;
    display: inline-block;
}

.menu li a{
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu li a:hover {
    color: rgb(0, 119, 255);
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
}

/*PAGE 1*/

#home {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

#texto {
    margin-top: 180px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#texto h1 {
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    width: 500px;
    margin-bottom: 20px;
    line-height: 1.2;
}

#texto button{
    margin-top: 10px;
    width: 300px;
    height: 80px;
    background-color: rgb(0, 119, 255);
    color: rgb(224, 224, 224);
    font-size: 20px;
    border-radius: 25px;
    border-style: none;
    cursor: pointer;
    font-weight: bold;
}

#texto button:hover{
    background-color: black;
    color: rgb(0, 119, 255);
    font-weight: bold;
}

#video-page1 {
    width: 390px;
    z-index: -1;
    position: absolute;

}

#video {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Faz o vídeo ocupar toda a tela */
#background-page1 {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Garante que o vídeo cubra toda a tela */
    z-index: -1; /* Coloca o vídeo atrás do conteúdo */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 1.0);
}


/*PAGE 2*/

.carousel {
    width: 100%;
    margin-top: 100px;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.card {
    width: 250px;
    height: 350px;
    background-color: rgb(0, 6, 83);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card h1{
    color: rgb(0, 119, 255);
    margin-bottom: 20px;
    font-size: 35px;
}

.card h3{
    margin-top: 10px;
    color: rgb(224, 224, 224);
    font-size: 24px;
}

.card p{
    color: rgb(224, 224, 224);
    margin-bottom: 5px;
    font-size: 18px;
    padding: 8px;
}

.card button{
    background-color: rgb(0, 119, 255);
    color: rgb(224, 224, 224);
    border-radius: 20px;
    width: 170px;
    height: 50px;
    border-style: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.card article button:hover{
    background-color:rgb(0, 0, 0);
    color: rgb(0, 119, 255);
    font-weight: bold;
}

/*PAGE3*/

#cobertura {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#background-page3 {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Mantém o vídeo dentro da seção sem distorção */
    z-index: -1;
    box-shadow: 5px 0px 30px rgba(0, 0, 0, 1.0);
}

/* CONTATO */

#contato {
    width: 100vw;
    height: 100vh;

}

#contato h1 {
    margin-bottom: 30px;
    font-size: 60px;
    color: rgb(0, 6, 83);
    padding-top: 120px;
    text-align: center;
}

#caixas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.caixa {
    width: 500px;
    height: 350px;
    border-radius: 20px;
    background-color: rgb(0, 6, 83);
    text-align: center;
}

#caixas h2 {
    margin-top: 35px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

#caixas p {
    font-size: 24px;
    color: rgb(255, 255, 255);
}

#c2 button {
    background-color: rgb(0, 119, 255);
    border-style: none;
    border-radius: 20px;
    width: 200px;
    height: 60px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    margin-top: 80px;
}

#c2 button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 119, 255);
    cursor: pointer;
}

.menu-toggle {
    display: none;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    /* HEADER */
    header {
        flex-direction: row;
        width: 100%;
        height: auto;
        padding: 10px 0;
    }

    /* MENU SANDUICHE */

    .menu-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 30px;
        color: white;
        cursor: pointer;
        text-align: center;
        padding: 10px;
    }

    .menu {
        display: none;
        flex-direction: column;
        text-align: center;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        border-radius: 10px;
        padding: 10px 0;
    }

    .menu.active {
        display: flex;
    }

    .menu li {
        display: block;
        padding: 15px;
    }

/*HOME*/
    #video {
        display: none;
    }

    #texto h1 {
        width: 350px;
        font-size: 30px;
    }
    #texto button{
        width: 300px;
        height: 100px;
        font-size: 34px;
        border-radius: 30px;
    }


/*PLANOS*/
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden; /* Esconde os cards que não estão visíveis */
    margin-top: 220px;
  }
  
  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out; /* Transição suave */
    
  }
  
  .card {
    min-width: 335px;
    height: 450px;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 100px;
    border-radius: 50px;

  }

    .card h1 {
        font-size: 50px;
    }
    .card h3 {
        font-size: 30px;
    }
    .card p {
        font-size: 25px;
    }
    .card button {
        width: 250px;
        height: 80px;
        font-size: 30px;
    }

  
  /* Estilos para os botões */
  .prev-button,
  .next-button {
    position: absolute;
    top: 180%;
    transform: translateY(-50%);
    /* Estilos para os botões (cor, tamanho, etc.) */
    background-color: transparent;
    border-style: none;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    color: rgb(0, 119, 255);
    font-size: 40px;
  }
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }

  .card {
    width: 100%; /* Garante que cada card ocupe a largura total */
  }
/*COBERTURA*/


/*CONTATO*/
#contato {
    width: 100vw;
    height: 100vh;
}

#contato h1 {
    font-size: 50px;
    text-align: center;
    margin-top: -100px;
}

#caixas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixa {
    width: 300px;
    height: 200px;
    text-align: center;
    margin-top: -20px;
}

#caixas h2 {
    margin-top: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

#caixas p {
    font-size: 15px;
    color: rgb(255, 255, 255);
}

#c2 button {
    background-color: rgb(0, 119, 255);
    border-style: none;
    border-radius: 20px;
    width: 200px;
    height: 60px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

#c2 button:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(0, 119, 255);
    cursor: pointer;
}

}